/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~start my styling~~~~~~~~~~~~~~~~~~~~~~~*/

.container {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: .05fr .08fr .5fr .08fr .08fr .8fr;
    grid-template-areas: 
        "nav"
        "header"
        "content1"
        "content2"
        "content3"
        "footer";
}

html {
    background-color: #020873;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 375px;
    margin: 0 auto;
    background-color: #ffffff;
}

header {
    grid-row:2;
    background: linear-gradient(90deg, rgba(33,4,217,1) 0%, rgba(2,6,89,1) 33%, rgba(2,6,89,1) 66%, rgba(0,0,0,1) 100%);
    padding:10px;
}

#content1 {
    display: grid;
    background-color: white;
    padding: 20px;
    height: 400px;
    color:#590242;
    overflow-x: scroll;
    overflow-y: visible;
}

#content2 {
    display: grid;
    grid-column: 1;
    height: 300px;
    background-color:#0D8DFB;
    color:white;
    overflow-x: scroll;
    overflow: auto;
    grid-row-gap: 40px;
    overflow-x: scroll;
    overflow-y: visible;
    padding-left: 30px;
}

#content3 {
    display: grid;
    grid-column: 1;
    height: 300px;
    background-color:#2104d9;
    overflow-x: scroll;
    grid-row-gap: 40px;
    overflow-x: scroll;
    overflow-y: visible;
    padding-left: 30px;
    color: #ffffff;
}




h1 {
    font-size: 1.25em;
    color: white;
    text-transform: uppercase;
}

h2, h3 {
    font-size: 1em;
    color: #590242;
    line-height: 2em;
    text-transform: uppercase;
    font-weight: bold;
}



header p, h1, h2 {
    padding: 0 32px 0 32px;
}

p {
    margin-top: 5px;
    font-size: 1em;
    color: white;
    line-height: 25px;
    color: #ffffff;
    line-height: 1.25em;
}

nav {
    background-color: #030A8C;
    text-transform: uppercase;

}
nav ul {
    text-align: center;
}
nav h2 {
    visibility: hidden;
    height: 1px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #2104D9;
    max-height: 0;
    transition: max-height 1s ease-out;
}

li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: #ffffff;
}
[href="#home"] {
    position:absolute;
    top:0;
    margin-left:100px;
    text-transform: capitalize;
    font-variant: small-caps;
    font-size: 25px;
    padding: 16px 16px;
}

a:hover, input:hover {
    background-color: #590242;
}

.button1, .button2, .button3 {
    background-color: #590242;
    color: white;
    border-radius: 6px;
    border: none;
    display: inline-block;
    text-align: center;
    padding: 10px 30px;
    margin-left: 30px;
}

.button3 {
    margin-top: 20px;
}

dt, dl{
    font-style: italic;
    color:#590242;
}

button:hover {
    background-color: #020659;
}

audio {
    position:relative;
    bottom:175px;
    opacity: 80%;
    margin-left: 5px;
}


footer {
    text-align: center;
    font-style: italic;
    font-size: .75em;
    background-color: white;
    color: #590242;
    padding-bottom: 10px;
  }

 /* ~~~~~~~~~~~~~~~~~~~~~~end my styling~~~~~~~~~~~~~~~~~~~~~~~*/
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}

label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

label span:before {
    top: 5px;
}

label span:after {
    top: -5px;
}

input {
    display: none;
}

input:checked ~ ul {
    max-height: 500px;
}

input:checked ~ label span {
    background: transparent;
}

input:checked ~ label span:before {
    transform: rotate(-45deg);
}

input:checked ~ label span:after {
    transform: rotate(45deg);
}

input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

